<template name ="navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!-- 		<a class="navbar-brand" href="#">OpenSpace</a> -->
		<img class="navbar-brand" src="/images/OpenSpaceLogo.png" alt="OpenSpaceLogo">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Find space near you" aria-label="Find space near you">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchBarButton">Search</button>
				</form>
			</ul>
			<a class="nav-link disabled" href="/BecomeAHost">Become A Host</a>
		</div>
	</nav>
</template>

<template name="list_items">
		<div class="col-md-6">
			<ul class="list-group">
			{{#each hosts}}
				<li class="list-group-item">
					<div class="media">
						<img class="mr-3" src="/images/SampleLayout1.png" alt="Generic placeholder image" style="width: 100px; height: 100px;">
						<div class="media-body">
							<h5 class="mt-0">{{firstName}}</h5>
							<div class="container">
								<div class="row">
									<div class="col-sm">
										<i class="fas fa-map-marked-alt"></i> {{street}}
									</div>
									<div class="col-sm">
										<i class="fas fa-home"></i> {{spaceType}}
									</div>
								</div>
								<div class="row">
									<div class="col-sm">
										<i class="fas fa-dollar-sign"></i> .06$/sqInch
									</div>
									<div class="col-sm">
										<i class="fas fa-clock"></i> 8:00AM - 12:00PM (Monday-Friday)
									</div>
								</div>
								<div class="row">
									<div class="col-sm">
										<i class="fas fa-adjust"></i> {{spaceAvailable}} sq. ft remaining
									</div>
									<div class="col-sm">
										<i class="fas fa-check-circle"></i> OpenSpace Verified
									</div>
								</div>
							</div>
						</div>
						<a href="/BookASpace"><button type="button" class="btn btn-primary">Book</button></a>
					</div>
				</li>
			{{/each}}
			</ul>
		</div>
</template>

<template name = "map">
	<div class = "col-md-6">
		<div id = "map"></div>
		<script>
		  // Initialize and add the map
		          function initMap() {
		            // The location of Uluru
		            var uluru = {lat:35.9940, lng:-78.8986};
		            // The map, centered at Uluru
		            var map = new google.maps.Map(
		              document.getElementById('map'), {zoom: 12, center: uluru});
		            // The marker, positioned at Uluru
		            var marker = new google.maps.Marker({position: uluru, map: map});
		          }
		</script>
	</div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbsJ9CgLB2PFRo1-RgSlgahriiL5eNwro&callback=initMap" 
    type="text/javascript"></script>
</template>
