<template name="info">
  <div class="container">
    <header>
      <h1>Hosts</h1>

      <form class="new-host">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="text" name="street" placeholder="Street Address">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="zip" placeholder="Zip Code">
        <input type="text" name="phone" placeholder="Phone Number">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">
      </form>
    </header>
  </div>
</template>
