.checkbox_container {
  float: right;
}
.checkbox_container:after {
	content:" *"; 
	color: red;
}
.required:before { 
	content:" *"; 
	color: red;
}
#host-form-title {
    color: blue;
    font-family: calibri;
    font-size: 300%;
}